<html>
<head>
<script src="https://unpkg.com/vue"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div id="app">
  <p>{{ message }}</p>
  <h2>
  {{ title }}
  </h2>
  <form @submit.prevent="addNew()">
    <input type="text" v-model="values">
    {{ values }}
  </form>
  <ul>
  <li v-for="(item ,index) in items" :key="index">
	{{item.name}} -<input type="text" v-model="item.age">
    <button class="btn btn-danger" @click="removeItem(index)">Delete</button>
  </li>
    <li>
      Total   {{ total }}
    </li>
  </ul>

</div>
<script>
new Vue({
  el: '#app',
  data: {
    message: 'Hello Vue.js!',
    title:'test',
	items:[
	{'name':'ratul','age':27},
	{'name':'shourov','age':21},
	{'name':'ashraf','age':19},
	],
    'values':'',
  },
  computed:{
    total() {
      var total =0
      this.items.forEach(item =>{
        total += parseFloat(item.age)
      })
      return total
    }
  },
  methods:{
    addNew() {
      this.items.push({
        name:this.values,
        age:0
      })
    },
    removeItem(index) {
      this.items.splice(index,1)
    }
  }
})
</script>
</body>
</html>